Package: tabtokv
Version: 0.1.0
Section: utils
Priority: optional
Architecture: amd64
Essential: no
Depends: libc6 (>= 2.12)
Maintainer: Martin Czygan
Description: Convert TSV columns into sqlite3 backed key-value store.
